<article id="question">
  <h3><%= @question.title %></h3>
  <h6>Asked by
    <%= link_to @question.author_name, @question.author %> on
    <%= @question.created_at.to_date %>
  </h6>
  <div class="question-body">
    <%= simple_format @question.body %>
  </div>
  <div id="answers-region">
    <%= render partial: 'answers/index', locals: {answers: @question.answers} %>
  </div>
</article>
