<%= simple_form_for answer do |f| %>
  <fieldset>
    <legend>Write an answer</legend>
    <% if answer.errors.any? %>
      <div class="error_messages">
        <h2>Form is invalid</h2>
        <ul>
          <% answer.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div class="field">
      <%= f.text_area :body, rows: 5 %>
    </div>
    <%= f.input :question_id, as: :hidden %>
    <div class="actions"><%= f.submit "Submit", class: 'button small' %></div>
  </fieldset>
<% end %>
